# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environnement/settings
.venv/
venv/
.env
.pytest_cache/
.ruff_cache/

# Local data
data/processed/*.csv
!data/processed/.gitkeep

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE folder
.vscode/

# OS files
.DS_Store
Thumbs.db

# models
notebooks/models/
notebooks/logs/
models/
*.h5
*.pb
*.data-*
*.index